<a href="https://colab.research.google.com/github/Karansaini260/Attribute-Rate/blob/main/Attrition_Rate.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
# from sklearn import datasets
from sklearn.metrics import accuracy_score

In [ ]:
import os
#os.getcwd()

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
os.getcwd()

'/content'

In [ ]:
!ls '/content/drive/MyDrive'

'ABC123, XYZ001'
'Activation Functions in Machine Learning.gdoc'
'App Script.txt'
'Backpropagation: Explained.gdoc'
'Bird Speciees Dataset'
'Colab Notebooks'
 CreditCardFraud.ipynb
 Data.gsheet
'Data Science Cheat Sheet PDF Download.pdf'
'Drive Creator.gsheet'
'Drive Creator - Sheet1.csv'
'Gradient Descent in Machine Learning.gdoc'
 IMG_20240827_195202.jpg
'instagram_profiles_sample - Instagram.csv'
'instagram_profiles_sample - Instagram.gsheet'
'Intel Image Dataset'
 intel_image.h5
'interview ques(DS (1).gdoc'
'interview ques(DS.gdoc'
 jsconfig.json
'Karan saini resume.pdf'
 next.config.mjs
 output.csv
 package.json
 package-lock.json
 postcss.config.js
 Potato___Early_blight
 public
'PW TASK.ipynb'
'python JD (1).rtf.gdoc'
'python JD.rtf.gdoc'
 PYTHONJDTBI.rtf.gdoc
'PyTorch Notes and Keyword Explanations.gdoc'
 README.md
'Resume (1).gdoc'
'Resume (2).gdoc'
'Resume (3).gdoc'
'Resume (4).gdoc'
'Resume (5).gdoc'
 Resume.gdoc
'Resume update.pdf'
 src
 Table_1.csv
 tailwind.config.js
'Untitled spreadsheet.gsheet'
 utils
'youtube_channels_sample - Youtube (1).gsheet'
'youtube_channels_sample - Youtube.csv'
'youtube_channels_sample - Youtube.gsheet'

In [ ]:
attrdata = pd.read_csv('/content/drive/MyDrive/Table_1.csv')

In [ ]:
attrdata.head()

,table id,name,phone number,Location,Emp. Group,Function,Gender,Tenure,Tenure Grp.,Experience (YY.MM),Marital Status,Age in YY.,Hiring Source,Promoted/Non Promoted,Job Role Match,Stay/Left
0,1,sid,9876544345,Pune,B2,Operation,Male,0.00,< =1,6.08,Single,27.12,Direct,Non Promoted,Yes,Left
1,2,sid,9876544345,Noida,B7,Support,Male,0.00,< =1,13.00,Marr.,38.08,Direct,Promoted,No,Stay
2,3,sid,9876544345,Bangalore,B3,Operation,Male,0.01,< =1,16.05,Marr.,36.04,Direct,Promoted,Yes,Stay
3,4,sid,9876544345,Noida,B2,Operation,Male,0.01,< =1,6.06,Marr.,32.07,Direct,Promoted,Yes,Stay
4,5,sid,9876544345,Lucknow,B2,Operation,Male,0.00,< =1,7.00,Marr.,32.05,Direct,Non Promoted,Yes,Stay

In [ ]:
attrdata.drop(0,inplace=True)

In [ ]:
attrdata.isnull().sum()

table id                 0
name                     0
phone number             0
Location                 0
Emp. Group               0
Function                 0
Gender                   0
Tenure                   0
Tenure Grp.              0
Experience (YY.MM)       4
Marital Status           0
Age in YY.               0
Hiring Source            0
Promoted/Non Promoted    0
Job Role Match           2
Stay/Left                0
dtype: int64

In [ ]:
attrdata.shape

(901, 16)

In [ ]:
attrdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 901 entries, 1 to 901
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   table id               901 non-null    int64
 1   name                   901 non-null    object
 2   phone number           901 non-null    int64
 3   Location               901 non-null    object
 4   Emp. Group             901 non-null    object
 5   Function               901 non-null    object
 6   Gender                 901 non-null    object
 7   Tenure                 901 non-null    float64
 8   Tenure Grp.            901 non-null    object
 9   Experience (YY.MM)     897 non-null    float64
 10  Marital Status         901 non-null    object
 11  Age in YY.             901 non-null    float64
 12  Hiring Source          901 non-null    object
 13  Promoted/Non Promoted  901 non-null    object
 14  Job Role Match         899 non-null    object
 15  Stay/Left              901 non-null    object
dtypes: float64(3), int64(2), object(11)
memory usage: 112.8+ KB

In [ ]:
promoted_dict = attrdata['Promoted/Non Promoted'].value_counts()
promoted_dict

Promoted/Non Promoted
Promoted        459
Non Promoted    442
Name: count, dtype: int64

In [ ]:
gender_dict = attrdata['Gender '].value_counts()
gender_dict

Gender
Male      658
Female    237
other       6
Name: count, dtype: int64

In [ ]:
func_dict = attrdata["Function"].value_counts()
func_dict

Function
Operation    837
Support       52
Sales         12
Name: count, dtype: int64

In [ ]:
Hiring_dict = attrdata["Hiring Source"].value_counts()
Hiring_dict

Hiring Source
Direct               714
Agency               116
Employee Referral     71
Name: count, dtype: int64

In [ ]:
Marital_dict = attrdata["Marital Status"].value_counts()
print(Marital_dict)

Marital Status
Single    535
Marr.     356
NTBD        6
Div.        2
Sep.        2
Name: count, dtype: int64

In [ ]:
Emp_dict = attrdata["Emp. Group"].value_counts()
Emp_dict['other group'] = 1
print(Emp_dict)

Emp. Group
B1             543
B2             275
B3              59
B0               8
B4               7
B5               4
B7               2
B6               1
C3               1
D2               1
other group      1
Name: count, dtype: int64

In [ ]:
job_dict = attrdata["Job Role Match"].value_counts()
job_dict

Job Role Match
Yes    481
No     418
Name: count, dtype: int64

In [ ]:
tenure_dict = attrdata["Tenure Grp."].value_counts()
print(tenure_dict)

Tenure Grp.
> 1 & < =3    626
< =1          275
Name: count, dtype: int64

In [ ]:
# Build new dictionary to be used to categorize data column after
location_dict = attrdata["Location"].value_counts()
print(location_dict)

location_dict_new = {
    'Chennai':       7,
    'Noida':         6,
    'Bangalore':     5,
    'Hyderabad':     4,
    'Pune':          3,
    'Madurai':       2,
    'Lucknow':       1,
    'other place':         0,
}

print(location_dict_new)

Location
Chennai       255
Noida         236
Bangalore     210
Hyderabad      66
Pune           55
Madurai        29
Lucknow        20
Nagpur         14
Vijayawada      8
Mumbai          4
Gurgaon         3
Kolkata         1
Name: count, dtype: int64
{'Chennai': 7, 'Noida': 6, 'Bangalore': 5, 'Hyderabad': 4, 'Pune': 3, 'Madurai': 2, 'Lucknow': 1, 'other place': 0}

In [ ]:
def location(x):
    if str(x) in location_dict_new.keys():
        return location_dict_new[str(x)]
    else:
        return location_dict_new['other place']

data_l = attrdata["Location"].apply(location)
attrdata['New Location'] = data_l
attrdata.head()

,table id,name,phone number,Location,Emp. Group,Function,Gender,Tenure,Tenure Grp.,Experience (YY.MM),Marital Status,Age in YY.,Hiring Source,Promoted/Non Promoted,Job Role Match,Stay/Left,New Location
1,2,sid,9876544345,Noida,B7,Support,Male,0.00,< =1,13.00,Marr.,38.08,Direct,Promoted,No,Stay,6
2,3,sid,9876544345,Bangalore,B3,Operation,Male,0.01,< =1,16.05,Marr.,36.04,Direct,Promoted,Yes,Stay,5
3,4,sid,9876544345,Noida,B2,Operation,Male,0.01,< =1,6.06,Marr.,32.07,Direct,Promoted,Yes,Stay,6
4,5,sid,9876544345,Lucknow,B2,Operation,Male,0.00,< =1,7.00,Marr.,32.05,Direct,Non Promoted,Yes,Stay,1
5,6,sid,9876544345,Bangalore,B3,Operation,Male,0.01,< =1,9.01,Marr.,39.09,Direct,Promoted,No,Stay,5

In [ ]:
gen = pd.get_dummies(attrdata["Function"])

In [ ]:
hr = pd.get_dummies(attrdata["Hiring Source"])

In [ ]:
# Marital Status
def Mar(x):
    if str(x) in Marital_dict.keys() and Marital_dict[str(x)] > 100:
        return str(x)
    else:
        return 'other status'

data_l = attrdata["Marital Status"].apply(Mar)
attrdata['New Marital'] = data_l
attrdata.head()

,table id,name,phone number,Location,Emp. Group,Function,Gender,Tenure,Tenure Grp.,Experience (YY.MM),Marital Status,Age in YY.,Hiring Source,Promoted/Non Promoted,Job Role Match,Stay/Left,New Location,New Marital
1,2,sid,9876544345,Noida,B7,Support,Male,0.00,< =1,13.00,Marr.,38.08,Direct,Promoted,No,Stay,6,Marr.
2,3,sid,9876544345,Bangalore,B3,Operation,Male,0.01,< =1,16.05,Marr.,36.04,Direct,Promoted,Yes,Stay,5,Marr.
3,4,sid,9876544345,Noida,B2,Operation,Male,0.01,< =1,6.06,Marr.,32.07,Direct,Promoted,Yes,Stay,6,Marr.
4,5,sid,9876544345,Lucknow,B2,Operation,Male,0.00,< =1,7.00,Marr.,32.05,Direct,Non Promoted,Yes,Stay,1,Marr.
5,6,sid,9876544345,Bangalore,B3,Operation,Male,0.01,< =1,9.01,Marr.,39.09,Direct,Promoted,No,Stay,5,Marr.

In [ ]:
Mr = pd.get_dummies(attrdata["New Marital"])

In [ ]:
#Promoted/Not Promoted
def Promoted(x):
    if x == 'Promoted':
        return int(1)
    else:
        return int(0)

data_l = attrdata["Promoted/Non Promoted"].apply(Promoted)
attrdata['New Promotion'] = data_l
attrdata.head()

,table id,name,phone number,Location,Emp. Group,Function,Gender,Tenure,Tenure Grp.,Experience (YY.MM),Marital Status,Age in YY.,Hiring Source,Promoted/Non Promoted,Job Role Match,Stay/Left,New Location,New Marital,New Promotion
1,2,sid,9876544345,Noida,B7,Support,Male,0.00,< =1,13.00,Marr.,38.08,Direct,Promoted,No,Stay,6,Marr.,1
2,3,sid,9876544345,Bangalore,B3,Operation,Male,0.01,< =1,16.05,Marr.,36.04,Direct,Promoted,Yes,Stay,5,Marr.,1
3,4,sid,9876544345,Noida,B2,Operation,Male,0.01,< =1,6.06,Marr.,32.07,Direct,Promoted,Yes,Stay,6,Marr.,1
4,5,sid,9876544345,Lucknow,B2,Operation,Male,0.00,< =1,7.00,Marr.,32.05,Direct,Non Promoted,Yes,Stay,1,Marr.,0
5,6,sid,9876544345,Bangalore,B3,Operation,Male,0.01,< =1,9.01,Marr.,39.09,Direct,Promoted,No,Stay,5,Marr.,1

In [ ]:
# Employee Group
Emp_dict_new = {
    'B1': 4,
    'B2': 3,
    'B3': 2,
    'other group': 1,
}


def emp(x):
    if str(x) in Emp_dict_new.keys():
        return str(x)
    else:
        return 'other group'

data_l = attrdata["Emp. Group"].apply(emp)
attrdata['New EMP'] = data_l

emp = pd.get_dummies(attrdata["New EMP"])
attrdata.head()

,table id,name,phone number,Location,Emp. Group,Function,Gender,Tenure,Tenure Grp.,Experience (YY.MM),Marital Status,Age in YY.,Hiring Source,Promoted/Non Promoted,Job Role Match,Stay/Left,New Location,New Marital,New Promotion,New EMP
1,2,sid,9876544345,Noida,B7,Support,Male,0.00,< =1,13.00,Marr.,38.08,Direct,Promoted,No,Stay,6,Marr.,1,other group
2,3,sid,9876544345,Bangalore,B3,Operation,Male,0.01,< =1,16.05,Marr.,36.04,Direct,Promoted,Yes,Stay,5,Marr.,1,B3
3,4,sid,9876544345,Noida,B2,Operation,Male,0.01,< =1,6.06,Marr.,32.07,Direct,Promoted,Yes,Stay,6,Marr.,1,B2
4,5,sid,9876544345,Lucknow,B2,Operation,Male,0.00,< =1,7.00,Marr.,32.05,Direct,Non Promoted,Yes,Stay,1,Marr.,0,B2
5,6,sid,9876544345,Bangalore,B3,Operation,Male,0.01,< =1,9.01,Marr.,39.09,Direct,Promoted,No,Stay,5,Marr.,1,B3

In [ ]:
#Job Role Match
def Job(x):
    if x == 'Yes':
        return int(1)
    else:
        return int(0)

data_l = attrdata["Job Role Match"].apply(Job)
attrdata['New Job Role Match'] = data_l
attrdata.head()

,table id,name,phone number,Location,Emp. Group,Function,Gender,Tenure,Tenure Grp.,Experience (YY.MM),...,Age in YY.,Hiring Source,Promoted/Non Promoted,Job Role Match,Stay/Left,New Location,New Marital,New Promotion,New EMP,New Job Role Match
1,2,sid,9876544345,Noida,B7,Support,Male,0.00,< =1,13.00,...,38.08,Direct,Promoted,No,Stay,6,Marr.,1,other group,0
2,3,sid,9876544345,Bangalore,B3,Operation,Male,0.01,< =1,16.05,...,36.04,Direct,Promoted,Yes,Stay,5,Marr.,1,B3,1
3,4,sid,9876544345,Noida,B2,Operation,Male,0.01,< =1,6.06,...,32.07,Direct,Promoted,Yes,Stay,6,Marr.,1,B2,1
4,5,sid,9876544345,Lucknow,B2,Operation,Male,0.00,< =1,7.00,...,32.05,Direct,Non Promoted,Yes,Stay,1,Marr.,0,B2,1
5,6,sid,9876544345,Bangalore,B3,Operation,Male,0.01,< =1,9.01,...,39.09,Direct,Promoted,No,Stay,5,Marr.,1,B3,0

In [ ]:
# Gender
def Gen(x):
    if x in gender_dict.keys():
        return str(x)
    else:
        return 'other'

data_l = attrdata["Gender "].apply(Gen)
attrdata['New Gender'] = data_l
attrdata.head()

,table id,name,phone number,Location,Emp. Group,Function,Gender,Tenure,Tenure Grp.,Experience (YY.MM),...,Hiring Source,Promoted/Non Promoted,Job Role Match,Stay/Left,New Location,New Marital,New Promotion,New EMP,New Job Role Match,New Gender
1,2,sid,9876544345,Noida,B7,Support,Male,0.00,< =1,13.00,...,Direct,Promoted,No,Stay,6,Marr.,1,other group,0,Male
2,3,sid,9876544345,Bangalore,B3,Operation,Male,0.01,< =1,16.05,...,Direct,Promoted,Yes,Stay,5,Marr.,1,B3,1,Male
3,4,sid,9876544345,Noida,B2,Operation,Male,0.01,< =1,6.06,...,Direct,Promoted,Yes,Stay,6,Marr.,1,B2,1,Male
4,5,sid,9876544345,Lucknow,B2,Operation,Male,0.00,< =1,7.00,...,Direct,Non Promoted,Yes,Stay,1,Marr.,0,B2,1,Male
5,6,sid,9876544345,Bangalore,B3,Operation,Male,0.01,< =1,9.01,...,Direct,Promoted,No,Stay,5,Marr.,1,B3,0,Male

In [ ]:
gend = pd.get_dummies(attrdata["New Gender"])

In [ ]:
tengrp = pd.get_dummies(attrdata["Tenure Grp."])

In [ ]:
dataset = pd.concat([attrdata, hr, Mr, emp, tengrp, gen, gend], axis = 1)

In [ ]:
dataset.head()

,table id,name,phone number,Location,Emp. Group,Function,Gender,Tenure,Tenure Grp.,Experience (YY.MM),...,B3,other group,< =1,> 1 & < =3,Operation,Sales,Support,Female,Male,other
1,2,sid,9876544345,Noida,B7,Support,Male,0.00,< =1,13.00,...,False,True,True,False,False,False,True,False,True,False
2,3,sid,9876544345,Bangalore,B3,Operation,Male,0.01,< =1,16.05,...,True,False,True,False,True,False,False,False,True,False
3,4,sid,9876544345,Noida,B2,Operation,Male,0.01,< =1,6.06,...,False,False,True,False,True,False,False,False,True,False
4,5,sid,9876544345,Lucknow,B2,Operation,Male,0.00,< =1,7.00,...,False,False,True,False,True,False,False,False,True,False
5,6,sid,9876544345,Bangalore,B3,Operation,Male,0.01,< =1,9.01,...,True,False,True,False,True,False,False,False,True,False

In [ ]:
dataset.columns

Index(['table id', 'name', 'phone number', 'Location', 'Emp. Group',
       'Function', 'Gender ', 'Tenure', 'Tenure Grp.', 'Experience (YY.MM)',
       'Marital Status', 'Age in YY.', 'Hiring Source',
       'Promoted/Non Promoted', 'Job Role Match', 'Stay/Left', 'New Location',
       'New Marital', 'New Promotion', 'New EMP', 'New Job Role Match',
       'New Gender', 'Agency', 'Direct', 'Employee Referral', 'Marr.',
       'Single', 'other status', 'B1', 'B2', 'B3', 'other group', '< =1',
       '> 1 & < =3', 'Operation', 'Sales', 'Support', 'Female', 'Male',
       'other'],
      dtype='object')

In [ ]:
dataset.drop(["table id", "name", "Marital Status","Promoted/Non Promoted","Function","Emp. Group","Job Role Match","Location"
              ,"Hiring Source","Gender ", 'Tenure', 'New Gender', 'New Marital', 'New EMP'],axis=1,inplace=True)

In [ ]:
dataset1 = dataset.drop(['Tenure Grp.', 'phone number'], axis = 1)

In [ ]:
dataset1.columns

Index(['Experience (YY.MM)', 'Age in YY.', 'Stay/Left', 'New Location',
       'New Promotion', 'New Job Role Match', 'Agency', 'Direct',
       'Employee Referral', 'Marr.', 'Single', 'other status', 'B1', 'B2',
       'B3', 'other group', '< =1', '> 1 & < =3', 'Operation', 'Sales',
       'Support', 'Female', 'Male', 'other'],
      dtype='object')

In [ ]:
# Target
"""
def Target(x):
    if x in "Stay":
        return False
    else:
        return True

data_l = dataset1["Stay/Left"].apply(Target)
dataset1['Stay/Left'] = data_l
"""
dataset1['Stay/Left'].head()

1    Stay
2    Stay
3    Stay
4    Stay
5    Stay
Name: Stay/Left, dtype: object

In [ ]:
dataset1.to_csv("processed table.csv")

In [ ]:
dataset = pd.read_csv("processed table.csv")
dataset = pd.DataFrame(dataset)
y = dataset["Stay/Left"]
X = dataset.drop("Stay/Left",axis=1)

In [ ]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=4)

In [ ]:
X_train

,Unnamed: 0,Experience (YY.MM),Age in YY.,New Location,New Promotion,New Job Role Match,Agency,Direct,Employee Referral,Marr.,...,B3,other group,< =1,> 1 & < =3,Operation,Sales,Support,Female,Male,other
215,216,4.00,25.05,3,0,1,False,True,False,False,...,False,False,True,False,True,False,False,False,True,False
401,402,5.00,29.02,3,0,1,False,True,False,True,...,False,False,False,True,True,False,False,False,True,False
413,414,3.08,30.10,6,1,0,False,True,False,False,...,False,False,False,True,True,False,False,True,False,False
490,491,3.10,27.07,4,1,0,False,True,False,False,...,False,False,False,True,True,False,False,False,True,False
874,875,6.04,29.05,6,1,0,True,False,False,True,...,False,False,False,True,True,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,361,2.04,24.08,1,0,1,False,True,False,False,...,False,False,False,True,True,False,False,True,False,False
709,710,12.02,33.11,5,0,1,False,True,False,True,...,True,False,False,True,True,False,False,False,True,False
439,440,3.07,28.01,7,1,0,False,True,False,False,...,False,False,False,True,False,True,False,True,False,False
174,175,4.10,27.11,3,0,1,False,True,False,False,...,False,False,True,False,True,False,False,False,True,False
122,123,9.09,34.04,6,1,1,False,False,True,True,...,True,False,True,False,True,False,False,False,True,False

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB

In [ ]:
lr=LogisticRegression(C = 0.1, random_state = 42, solver = 'liblinear')
dt=DecisionTreeClassifier()
rm=RandomForestClassifier()
gnb=GaussianNB()

In [ ]:
# Fill missing values in X_train and X_test
X_train = X_train.fillna(X_train.mean())
X_test = X_test.fillna(X_test.mean())

for a,b in zip([lr,dt,rm,gnb],["Logistic Regression","Decision Tree","Random Forest","Naive Bayes"]):
    a.fit(X_train,y_train)
    prediction=a.predict(X_train)
    y_pred=a.predict(X_test)
    score1=accuracy_score(y_train,prediction)
    score=accuracy_score(y_test,y_pred)
    msg1="[%s] training data accuracy is : %f" % (b,score1)
    msg2="[%s] test data accuracy is : %f" % (b,score)
    print(msg1)
    print(msg2)

[Logistic Regression] training data accuracy is : 0.893056
[Logistic Regression] test data accuracy is : 0.856354
[Decision Tree] training data accuracy is : 1.000000
[Decision Tree] test data accuracy is : 0.834254
[Random Forest] training data accuracy is : 1.000000
[Random Forest] test data accuracy is : 0.861878
[Naive Bayes] training data accuracy is : 0.868056
[Naive Bayes] test data accuracy is : 0.823204

In [ ]:
model = lr.fit(X_train,y_train)

import pickle
# save the model to disk
filename = 'finalized_model.pickle'
pickle.dump(model, open(filename, 'wb'))